<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Core.CSharp" version="4.2.1" targetFramework="net46" />
  <package id="Bond.CSharp" version="4.2.1" targetFramework="net46" />
  <package id="Bond.Runtime.CSharp" version="4.2.1" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Microsoft.Bing.Speech" version="2.0.2" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.SpeechRecognition-x64" version="1.0.0.7" targetFramework="net46" />
  <package id="Microsoft.ProjectOxford.SpeechRecognition-x86" version="1.0.0.7" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net46" />
  <package id="NAudio" version="1.8.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
</packages>