@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - Red Fox</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/Vendor/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Buttons.css" rel="stylesheet">
    <link href="~/Content/Main.css" rel="stylesheet">
    <link href="~/Content/Red.css" rel="stylesheet">
    <!-- media css for responsive  -->
    <link href="~/Content/Main.media.css" rel="stylesheet">
    <link href="~/Content/RedFox.css" rel="stylesheet">

    <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <!--[if lt IE 9]> <script src="dist/html5shiv.js"></script> <![endif]-->

</head>
<body class="red-bg login">
    <div id="app" class="middle-box text-center loginscreen ">
        <div class="widgets-container">
            <div>
                <h1 class="logo-name">R-FX</h1>
            </div>
            <h3>Reset Password</h3>
            <p>Enter New Password.</p>
            <p>
                
                <div class="alert alert-danger" role="alert" v-if="error != ''">
                    <strong>Error!</strong> <span>{{ error }}</span>
                </div>
            </p>
            <form class="top15" role="form" id="form">
                <div class="form-group">
                    <input v-model="password" placeholder="New Password" class="form-control" required="" type="password" />
                    <span v-if="!password" class="left invalid-feedback bottom10"><small>Please provide a valid Password</small></span>
                </div>
                <div class="form-group">
                    <input v-model="confirmpassword" placeholder="Re-Enter Password" class="form-control" required="" type="password" />
                    <span v-if="!confirmpassword" class="left invalid-feedback bottom10"><small>Please provide a valid Password</small></span>
                    <span v-if="confirmpassword && confirmpassword!=password" class="left invalid-feedback bottom10"><small>Password Does not match.</small></span>
                </div>
                <button class="btn green block full-width bottom15" type="submit" v-on:click.prevent="submit($event)" v-html="resetpassword"></button>                
            </form>
            <p class="top15"> <small>Copyright 2017 &copy; US Captioning Company</small> </p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="~/Scripts/global.js"></script>

    <script>
        if (typeof (Storage) === undefined) {
            alert('No session storage available');
        }

        function getQueryString(field, url) {
            var href   = url ? url : window.location.href;
            var reg    = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
            var string = reg.exec(href);

            return string ? string[1] : null;
        };

        new Vue({
            el  : '#app',
            data: {
                password: null,
                confirmpassword:null,
                error   : '',
                resetpassword   : 'Reset Password'
            },
            methods: {
                submit: function (sender) {
                    
                    this.login = '<img height="16px" src="/Content/Images/loading.gif" />';

                    sender.target.disabled = true;
                    
                    if (this.password != this.confirmpassword) {
                        this.error = "";
                        sender.target.disabled = false;
                        this.resetpassword = 'Try Again';
                        return;
                    }
                    if (this.password.length < 6) {
                        this.error = "Passwords must be at least 6 characters.";
                        sender.target.disabled = false;
                        this.resetpassword = 'Try Again';
                        return;
                    }
                    if (document.getElementById('form').checkValidity() == false) {
                        form.classList.add("was-validated");

                        sender.target.disabled = false;
                        this.login             = 'Try again';
                        return;
                    }

                    var self = this;
                        self.error = '';

                    var userid = getQueryString('UserId');
                    var token  = getQueryString('token');

                    console.log(userid);
                    console.log(token);

                    auth.get('api/ChangePassword?userId=' + userid + "&token=" + token + "&newPassword=" + this.password)
                        .then(function (response) {
                            var returnURL = getQueryString('returnURL');
                            if (!returnURL)
                                returnURL = '/';
                            document.location.href = returnURL;
                        })
                        .catch(function (e) {
                            console.log(e);
                            sender.target.disabled = false;
                            self.error             = e.message;
                            self.login             = 'Try again';

                            if (e.response.status == 400) {
                                self.error = 'Something went wrong, Please try again.';
                                console.log(e);
                                if (e.response.data) {
                                    self.error = e.response.data;
                                }
                            }
                        });
                }
            }
        });
    </script>
</body>
</html>