@{
    ViewBag.Title = "Stations";
}

@section Head {
<link rel="stylesheet" href="~/Content/Skins/square/green.css" />
<link rel="stylesheet" href="https://unpkg.com/eonasdan-bootstrap-datetimepicker@4.17.47/build/css/bootstrap-datetimepicker.min.css">
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">
        <h2>Stations </h2>
        <ol class="breadcrumb">
            <li> <a href="/">Home</a> </li>
            <li> <a href="/stations">Stations</a> </li>
            <li class="active"> <strong>Delete</strong> </li>
        </ol>
    </div>
    <div class="col-lg-12"> </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12 top20">
            <div class="ibox-title">
                <h5>Delete station</h5>
            </div>
            <div class="widgets-container">
                <form class="form-horizontal m-t-xs">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9 margin-bottom-10">
                            <input class="form-control m-t-xxs" v-model="station.Name">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Input type</label>
                        <div class="col-sm-9">
                            <select class="form-control bottom15" v-model="station.Consumer.Name">
                                <option v-for="consumer in consumers" v-bind:value="consumer.Name">{{ consumer.Name }}</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Endpoint</label>
                        <div class="col-sm-9 margin-bottom-10">
                            <input class="form-control m-t-xxs" v-model="station.Consumer.Endpoint">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn red m-t-xs bottom15-xs" v-on:click.prevent="submit($event)">Confirm Delete</button>
                            <button type="button" class="btn default m-t-xs bottom15-xs" v-on:click.prevent="cancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/Vendor/icheck.min.js"></script>

    <script src="https://unpkg.com/moment@2.18.1/min/moment.min.js"></script>
    <script src="https://unpkg.com/eonasdan-bootstrap-datetimepicker@4.17.47/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://unpkg.com/vue-bootstrap-datetimepicker"></script>

    <script>
        $(function() {
            $('input.iCheck').iCheck({
                 checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                  increaseArea: '20%'
            });
        });
        
        Vue.component('date-picker', VueBootstrapDatetimePicker.default);

        new Vue({
              el: '#app',
            data: {
                error    : null,
                consumers: [],
                providers: [],
                station: {
                    Id      :'',
                    Name    : '',
                    Consumer: {
                        Name     : '',
                        Direction: '',
                        Endpoint : ''
                    },
                    Endpoint   : '',
                    Transcriber: {
                        Name: null,
                    },
                    Provider: {
                        Name     : '',
                        Endpoint : '',
                        Direction: ''
                    }
                }
            },
            methods: {
                cancel: function() { window.location.href = '/stations'; },
                submit: function (e) {
                    var self = this;

                    redfox.delete('api/stations/id=' + self.station.Id).then(function (response) {
                        var returnURL = '/stations';
                        document.location.href = returnURL;
                    }).catch(function (e) {
                        self.error = e.message;
                    });
                }
            },
            mounted: function() {
                var self     = this;
                var pathname = window.location.pathname;
                var index    = pathname.lastIndexOf('/') + 1;
                var id       = pathname.substring(index, pathname.length);

                redfox.get('api/stations/' + id).then(function (response) {
                    self.station.Name     = response.data.Name;
                    self.station.Endpoint = response.data.Endpoint;
                    self.station.Id       = response.data.Id;

                    var consumer = JSON.parse(response.data.ConsumerJson);

                    self.station.Consumer.Name      = consumer.Name;
                    self.station.Consumer.Direction = consumer.Direction;
                    self.station.Consumer.Endpoint  = consumer.Endpoint;
                    // TODO Assign other values to their respective variables
                }).catch(function (e) {
                    self.error = e.message;
                });
            }
        });
    </script>
}